/*
.НАЧАЛО_МЕНЮ.
1. Сброс стилей.
2. Общие и простые классы для стилизации.
3. Главное меню.
4. Модули. В разработке
.КОНЕЦ_МЕНЮ.
*/

/* */
/* 1. Сброс всех стилей */
/* */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* */
/* 2. Общие и простые классы для стилизации. */
/* */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

body {
    background-color: #f2f4f6;
}

/* Простая подсказка */
[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0;
    top: 0;
    background: #cce7cb;
    padding: 0.5em;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: 1s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 5em;
}

/* */
/* 3. Главное меню. */
/* */

.header-top {
    color: #4e4e4e;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    background-color: azure;
}

.top-menu-li {
    margin-right: 40px;
}

.top-menu-a-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #c3efc0;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    text-align: center;
    width: 200px;
    color: #333333;
    font-weight: 600;
    transition: all 0.3s;
}

.top-menu-a-button:hover {
    background-color: #ff6699;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255 0 0 / 70%), 0 0 20px rgb(255 255 255 / 70%), 0 0 30px rgb(255 0 0 / 70%);
    transform: translateX(5px);

}

.body-title {
    margin: 20px;
    padding: 20px;
}

.body-title-text {
    background-color: skyblue;
    border-radius: 20px;
    padding: 20px 40px;
    font-size: 20px;
}

.body-main-menu {
    background-color: lightgray;
    border-radius: 20px;
    margin: 0px 20px;
}

