/* Челюсти */
.upper-jaw {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f19e9e;
}

.lower-jaw {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f19e9e;
}


/* Зубы */
.upper-incisor {
    background-color: azure;
    padding: 23px 20px;
    border-radius: 15px;
    margin: 3px;
}

.posterior-incisor {
    background-color: azure;
    padding: 23px 15px;
    border-radius: 15px;
    margin: 3px;
}

.fang {
    background-color: azure;
    padding: 25px 12px;
    border-radius: 15px;
    margin: 3px;
}

.first-premolar, .second-premolar {
    background-color: azure;
    padding: 22px 15px;
    border-radius: 15px;
    margin: 3px;
}


.first-molar, .second-molar, .third-molar {
    background-color: azure;
    padding: 22px 24px;
    border-radius: 15px;
    margin: 3px;
}