{% extends 'base_main_menu.html' %}

{% block content %}
<div class="flex-center">Верхняя челюсть</div>

<div class="flex-start">
    <div class="flex-start upper-jaw">
        <div class="third-molar" data-tooltip="Третий моляр"></div>
        <div class="second-molar" data-tooltip="Второй моляр"></div>
        <div class="first-molar" data-tooltip="Первый моляр"></div>
        <div class="second-premolar" data-tooltip="Второй премоляр"></div>
        <div class="first-premolar" data-tooltip="Первый премоляр"></div>
        <div class="fang" data-tooltip="Клык"></div>
        <div class="posterior-incisor" data-tooltip="Боковой резец"></div>
        <div class="upper-incisor" data-tooltip="Центральный резец"></div>
        <div class="upper-incisor" data-tooltip="Центральный резец"></div>
        <div class="posterior-incisor" data-tooltip="Боковой резец"></div>
        <div class="fang" data-tooltip="Клык"></div>
        <div class="first-premolar" data-tooltip="Первый премоляр"></div>
        <div class="second-premolar" data-tooltip="Второй премоляр"></div>
        <div class="first-molar" data-tooltip="Первый моляр"></div>
        <div class="second-molar" data-tooltip="Второй моляр"></div>
        <div class="third-molar" data-tooltip="Третий моляр"></div>
    </div>
</div>
<div class="flex-start">
    <div class="flex-end lower-jaw">
        <div class="third-molar" data-tooltip="Третий моляр"></div>
        <div class="second-molar" data-tooltip="Второй моляр"></div>
        <div class="first-molar" data-tooltip="Первый моляр"></div>
        <div class="second-premolar" data-tooltip="Второй премоляр"></div>
        <div class="first-premolar" data-tooltip="Первый премоляр"></div>
        <div class="fang" data-tooltip="Клык"></div>
        <div class="posterior-incisor" data-tooltip="Боковой резец"></div>
        <div class="upper-incisor" data-tooltip="Центральный резец"></div>
        <div class="upper-incisor" data-tooltip="Центральный резец"></div>
        <div class="posterior-incisor" data-tooltip="Боковой резец"></div>
        <div class="fang" data-tooltip="Клык"></div>
        <div class="first-premolar" data-tooltip="Первый премоляр"></div>
        <div class="second-premolar" data-tooltip="Второй премоляр"></div>
        <div class="first-molar" data-tooltip="Первый моляр"></div>
        <div class="second-molar" data-tooltip="Второй моляр"></div>
        <div class="third-molar" data-tooltip="Третий моляр"></div>
    </div>
</div>
<div class="flex-center">Нижняя челюсть</div>
{% endblock %}